/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: justify;
    margin: 20px;
    line-height: 1.6;
}

.img-container {
    display: flex;
    justify-content: flex-start;
}

img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}
